@tailwind base;
@tailwind components;
@tailwind utilities;

.drop{
 
   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    cursor :pointer;
    
}
.drop:hover{
  background-color:gray;
}
.glading{
   transform: perspective(30%); 
   transition:cubic-bezier(0.19, 1, 0.22, 1);
   animation: glide 0.2s linear;
   
}
@keyframes glide {
    from{
        opacity: 0%;
        transform: translateX(100%);
    }
    to{
        opacity: 100%;
        transform: translateX(0%);
    }
}