
.navbar {
display: flex;
align-items: center;
justify-content: space-between;
padding: 0.5rem 1rem;
background-color: #0d6efd;
}

.logo {
font-size: 1.5rem;
font-weight: bold;
color: white;
}

.links-container {
overflow: hidden;
}

.links {
display: flex;
list-style-type: none;
}

.links li {
margin-left: 1rem;
}

.links li a {
text-decoration: none;
color: white;
}

.toggle {
display: none;
}

@media screen and (max-width: 680px) {
.links-container {
transition: linear 0.3s ease-out;
}
}